@import './variables.scss';
// @import url('https://fonts.googleapis.com/css?family=Bevan|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Maven+Pro:wght@400;700&display=swap');

html {
  font-size: $html-font-size;
}

html,
body {
  height: 100%;
  // overflow-y: none !important;
  overflow-y: auto !important;
}

body {
  margin: 0;

  .v-application {
    font-family: $body-font-family;
    font-size: $default-font-size;
    color: $default-text-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}


@for $i from 1 to 6 {
  h#{$i} {
    color: $default-text-color;
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

.hidden {
  display: none;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
