@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto&display=swap');

html {
  font-size: $html-font-size;
}

html,
body {
  height: 100%;
  // overflow-y: none !important;
  overflow-y: auto !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: $default-font-size;
  color: $default-text-color;
}

@for $i from 1 to 6 {
  h#{$i} {
    color: $default-text-color;
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

.hidden {
  display: none;
}
